<!DOCTYPE html>
<html lang="en">

<head>
    <title>error</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="product.css">
</head>

<body style="background-image: url('g.jpg'); text-align: center;">

    <h1>Check the values again</h1>
    <a href="/admin"> Go back</a>
</body>

</html>